:root{
    --header-web: #2196f3;
    --nav-studio: #000000;
    --site-nav-link: #2196F3;
    --nav: #212121;
    --nav-number: #757575;
    /*Це там де h1 і кнопка */
    --main: #2F303A;
    --main-title: #FFFFFF;
    --li-h2: #212121;
    --li-p: #757575;
    --footer-background: var(--main);
    /*2ст*/
    --button: #F5F4FA;
    --icon-color:#AFB1B8;
    
}

 body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
 }

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.seaction-details{
    padding-top: 94px;
    padding-bottom: 94px;
}

.activity{
    padding-bottom: 94px;
}

.activity-list{
    display: flex;
    justify-content: space-between;
}

.text-details{
    color: var(--nav-number);
}

.activity-img{
    width: 370px;
    height: 294px;

}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    font-size: 19px;
    font-weight: 700;
    background-color: var(--button);
}

.team-item{
    background-color: var(--main-title);
    width: 250px;
}


.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main)
}

.work-blok{
    padding-top: 94px;
    padding-bottom: 94px;
}

.post-taitel{
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--main-title);
    margin-bottom: 30px;
}



.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    margin-right: 93px;
}
.black{
    color: black;
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    vertical-align: 20px;
}

.white{
    color: #FFF;
}

.footer-city{
    color: var(--main-title);

}

.footer-link{
    color: rgba(255, 255, 255, 0.60);
}

.footer-link{
    color: rgba (255, 255, 255, 0.60);
}

.navigation{
    font-size: 14px;
    font-weight: 500
}

.logo-wrap{
    display: flex;
    align-items: center;
}

.header{
    padding-bottom: 25px;
    padding-top: 25px;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seaction-post{
    background-image: url(./img/Imgheader.webp);
    background: linear-gradient(rgba(47, 48, 58, 0.40));
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.site-nav{
    display: flex;
    width: 281px;
    justify-content: space-between;
    align-items: center;
}

.site-nav-link:hover{
    color: var(--site-nav-link);

}
.site-nav-link{
    color: var(--nav);
    font-weight: 500;
    font-size: 14px;
    margin-right: 50px;
    align-items: center;
    justify-content: space-between;
}

.contact-link{
    color: var(--nav-number);

}

.contacts{
    display: flex;
}

.contacts .contact-link:hover{
    color: var(--header-web);
}

.contact-link:hover .contact-icon{
    fill: var(--header-web);
}

.contact-link{
    display: flex;
    align-items: center;
}

.contact-icon{
    margin-right: 10px;
}

.email{
    margin-right: 50px;
    font-weight: 500;
    color: var(--nav-number);
}

.p.li{
    font-weight: 400px;
    font-size: 14px;
    color: var(--li-p);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.h2-li{
    color: var(--li-h2);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.li{
    width: 270px;
}

.seaction-details{
    padding-top: 95px;
}

.site-details-item{
    width: 270px;
}

.site-details-item::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: var(--button);
    border-radius: 4px;
    background-image: url(./img/antenna1.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.site-details-item:nth-child(2)::before {
    background-image: url(./img/clock1.webp);
}

.site-details-item:nth-child(3)::before {
    background-image: url(./img/diagram1.webp);
}

.site-details-item:nth-child(4)::before {
    background-image: url(./img/astronaut1.webp);
}

.site-details{
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    font-size: 14px;
    font-weight: 500;
}
.post-button{
    color: var(--main-title);
    background: var(--header-web);
    width: 216px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   cursor: pointer;
}

.social-icon{
    width: 20px;
    height: 20px;
}

.social-list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
}

.social-link{
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link:hover,
.social-link:focus{
    fill: var(--button);
    background-color: var(--header-web);
}


.post-wrap{
    display: flex;
    justify-content: center;
}

.details-title{
    color: var(--nav);
    width: 270px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.seaction-title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.name{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}


.team-img{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}
.team-item{
    width: 270px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.team-wrap{
    text-align: center;
}
.team-list{
    display: flex;
    justify-content: space-between;
}

.profession{
    color: var(--nav-number);
    font-size: 16px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.head-studio{
    color: var(--head-studio);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.head-web{
    color: var(--web);
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0; 
 }


.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-item{
    margin-bottom: 30px;
    border: 1px solid #EEE;
    width: 370px;
}
.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-list{
    padding: 20px 24px;
    cursor: pointer;
}
.portfolio-img{
    width: 100%;
}
.portfolio-title{
font-size: 18px;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.portfolio-text{
    color: #757575;
font-size: 16px;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}

.portfolio-footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    vertical-align: 20px;
}

.filter-list{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
.filt-button{
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    border: none;
    border-radius: 4px;
    background-color: var(--button);
    cursor: pointer;
}
.filt-button-active{
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    border: none;
    border-radius: 4px;
    color: var(--main-title);
    background-color: var(--header-web);
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.filt-button:hover,
.filt-button:focus,
.filt-button-active:hover,
.filt-button-active:focus{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}







